*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 13px;
}
.body{
    width: 50%;
    display: flex;
    line-height: 20px;
    border-radius: 10px;
    background-color: white;
}

.body #mainImg{
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
    position: relative;
    color:hsl(217, 19%, 35%);
    
}

.text .heading {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    margin-bottom: 5%;
    font-size: 19px;
}

.text .subText{
    font-size: 13px;
    margin-bottom: 3%;  
    font-family: sans-serif; 
    color:hsl(214, 17%, 51%);
}

.text .person{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin-top: 5%;
}

.text .person .name{
    font-family: sans-serif;
    font-size: 12px;
}

.text .person .images{
    display: flex;
    width: 42%;
    justify-content: space-between; 
} 

.text .person .images img{
    border-radius: 100px;
}

.person #button{
    background-color: hsl(210, 46%, 95%);
    border-radius: 50px;
    padding: 8px;
    margin-right: 4%;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
}

.share{
    padding: 3%;
    background-color:hsl(217, 19%, 35%);
    color: hsl(212, 23%, 69%);
    display: flex;
    width: 50%;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 62%;
    display: none;
    font-family: sans-serif;
}

.share .shareSvg{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}

.share .triangle{
    width: 20px;
    height: 20px;
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    top: 80%;
    left: 35%;
    transform: rotateY(0deg) rotate(45deg);
}

.person #buttonClose{
    background-color: hsl(210, 46%, 95%);
    border-radius: 50px;
    padding: 8px;
    margin-right: 4%;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
    display: none;
}

.share #buttonCloseOne{
    display: none;
}


@media screen and (max-width: 1500px){
    .body{
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .body #mainImg{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .text{
        margin-top: 5%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text .person .images img{
        width: 30px;
        height: 30px;
    }
    .text .person .images{
        width: 48%;
    }
    .share{
        top: 75%;
        left: 0;
        width: 94%;
        height: 49px;
        border-radius: 0px 0px 10px 10px;
    }
    .share .shareSvg{
        width: 35%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 15%;
    }
    .share #buttonCloseOne{
        background-color: hsl(210, 46%, 95%);
        border-radius: 50px;
        padding: 8px;
        margin-right: 4%;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        outline: none;
        color: white;
        border: none;
    }
    .share .triangle{
        display: none;

    }
}